<a href="https://colab.research.google.com/github/sleevetug/Eloise/blob/main/Copy_of_Copy_of_5_numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using numpy for processing lists of number data

---

## numpy is a high performance array processing library for Python

Python lists can contain any type of data, including objects.  numpy arrays are specialised and can only contain numbers.

You can customise the memory usage so that arrays can use less memory and items are always stored contiguously, which isn't always the case for Python lists.  This means that it is more efficient at storing, and faster at processing, large data sets.

Use numpy arrays to **store and manipulate large lists of numbers** (for other data types use plain Python lists or a panda series)

Use numpy arrays to **process panda series (columns) where these contain numerical data and a large number of records**.

Use numpy arrays to **create new sets of data** to add to a dataframe.

For this course we are going to focus on using numpy arrays as a means of holding and working with a list of data from a pandas dataframe column.

---
## Creating a new numpy array (maybe for a new series or an extended series)

To use numpy, you will need to import it.  The conventional way to import numpy is to import the whole library and use an *alias*

`import numpy as np`

Every time you want to use a function from the numpy library you use the syntax:  

`np.function_name()`  

Create a new numpy array from a Python list of numbers
   
`arr = np.array([1,2,3])`

Or a new numpy matrix from a Python 2 dimensional list of numbers

`matrix = np.array([1,2,3],[4,5,6])`

Create a numpy array from a dataframe column (series):

`arr = df['column name'].to_numpy(datatype)`

where the datatype matches the data type of the column (`df.info()` will give this information if you are unsure).

### Exercise 1 - create a new numpy array to hold the numbers from 1 to 100
---

Write a function called `make_array()` which will:
*   create a list of the numbers 1 to 10  
*   create a new numpy array called **new_array** from that list
*   print `new_array`

Expected output:  
`[1 2 3 4 5 6 7 8 9 10] `

In [2]:
import numpy as np

def make_array():
  # add your code below here

    num_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
    new_array = np.array(num_list)
    print(new_array)

# run and test the function against the expected output
make_array()

[ 1  2  3  4  5  6  7  8  9 10]

## Setting the number type in memory

numpy allows you to set the type of number in memory (e.g. `int8`, `int32`) when you create the array.  This allows memory allocation to be as small as possible.  

`new_matrix = np.array([1, 2, 3], np.int8)`    

This creates a list of whole numbers which are all small enough to fit in 1 byte of memory storage.

---
### Exercise 2 - create list of smallish numbers

Write a function which will:
*   accept a parameter **num_list**    
*   create a new numpy array called **new_array** from `num_list`, with data size `int16`
*   print `new_array`  

Test input:  
`[31112, 32321, 24567,456,324,789]`

Expected output:   
```
[31112 32321 24567 456 324 789]
```

In [3]:
import numpy as np

def create_new_array(num_list):
  # add your code below here to turn num_list into a numpy array

    new_array = np.array(num_list, np.int16)
    print(new_array)

# run and test the code against the expected output
create_new_array([31112, 32321, 24567, 456, 324, 789])

[31112 32321 24567   456   324   789]

---
### Exercise 3 - create a numpy array from a pandas dataframe column

Write a function which  will first create a dataframe from the titanic data set, and then will create a numpy array from the Fare column.

*Recap*:  *the Fare column is df['Fare'] (assuming your dataframe is called df)*

*  create a dataframe from the data set in the file at this url:  https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv  
*  create a new numpy array called **fare** from the `Fare` column (*remember to specify the data type e.g. np.int32, float64 when using* `df.to_numpy()`)  
*  print the `fare` array

Expected output:  
```
array([  7.25  ,  71.2833,   7.925 , ......  23.45  ,  30.    ,   7.75  ])
```

In [4]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv')

def create_fare_series():
  # add your code below here to read the data set into a dataframe and then create a numpy array from the Fare column and print it

    fare = df['Fare'].to_numpy('float64')
    print(fare)

# run the function and test against the expected output.
create_fare_series()

[  7.25    71.2833   7.925   53.1      8.05     8.4583  51.8625  21.075
  11.1333  30.0708  16.7     26.55     8.05    31.275    7.8542  16.
  29.125   13.      18.       7.225   26.      13.       8.0292  35.5
  21.075   31.3875   7.225  263.       7.8792   7.8958  27.7208 146.5208
   7.75    10.5     82.1708  52.       7.2292   8.05    18.      11.2417
   9.475   21.       7.8958  41.5792   7.8792   8.05    15.5      7.75
  21.6792  17.8     39.6875   7.8     76.7292  26.      61.9792  35.5
  10.5      7.2292  27.75    46.9      7.2292  80.      83.475   27.9
  27.7208  15.2458  10.5      8.1583   7.925    8.6625  10.5     46.9
  73.5     14.4542  56.4958   7.65     7.8958   8.05    29.      12.475
   9.       9.5      7.7875  47.1     10.5     15.85    34.375    8.05
 263.       8.05     8.05     7.8542  61.175   20.575    7.25     8.05
  34.6542  63.3583  23.      26.       7.8958   7.8958  77.2875   8.6542
   7.925    7.8958   7.65     7.775    7.8958  24.15    52.      14.4542
   8.05     9.825   14.4583   7.925    7.75    21.     247.5208  31.275
  73.5      8.05    30.0708  13.      77.2875  11.2417   7.75     7.1417
  22.3583   6.975    7.8958   7.05    14.5     26.      13.      15.0458
  26.2833  53.1      9.2167  79.2     15.2458   7.75    15.85     6.75
  11.5     36.75     7.7958  34.375   26.      13.      12.525   66.6
   8.05    14.5      7.3125  61.3792   7.7333   8.05     8.6625  69.55
  16.1     15.75     7.775    8.6625  39.6875  20.525   55.      27.9
  25.925   56.4958  33.5     29.125   11.1333   7.925   30.6958   7.8542
  25.4667  28.7125  13.       0.      69.55    15.05    31.3875  39.
  22.025   50.      15.5     26.55    15.5      7.8958  13.      13.
   7.8542  26.      27.7208 146.5208   7.75     8.4042   7.75    13.
   9.5     69.55     6.4958   7.225    8.05    10.4625  15.85    18.7875
   7.75    31.       7.05    21.       7.25    13.       7.75   113.275
   7.925   27.      76.2917  10.5      8.05    13.       8.05     7.8958
  90.       9.35    10.5      7.25    13.      25.4667  83.475    7.775
  13.5     31.3875  10.5      7.55    26.      26.25    10.5     12.275
  14.4542  15.5     10.5      7.125    7.225   90.       7.775   14.5
  52.5542  26.       7.25    10.4625  26.55    16.1     20.2125  15.2458
  79.2     86.5    512.3292  26.       7.75    31.3875  79.65     0.
   7.75    10.5     39.6875   7.775  153.4625 135.6333  31.       0.
  19.5     29.7      7.75    77.9583   7.75     0.      29.125   20.25
   7.75     7.8542   9.5      8.05    26.       8.6625   9.5      7.8958
  13.       7.75    78.85    91.0792  12.875    8.85     7.8958  27.7208
   7.2292 151.55    30.5    247.5208   7.75    23.25     0.      12.35
   8.05   151.55   110.8833 108.9     24.      56.9292  83.1583 262.375
  26.       7.8958  26.25     7.8542  26.      14.     164.8667 134.5
   7.25     7.8958  12.35    29.      69.55   135.6333   6.2375  13.
  20.525   57.9792  23.25    28.5    153.4625  18.     133.65     7.8958
  66.6    134.5      8.05    35.5     26.     263.      13.      13.
  13.      13.      13.      16.1     15.9      8.6625   9.225   35.
   7.2292  17.8      7.225    9.5     55.      13.       7.8792   7.8792
  27.9     27.7208  14.4542   7.05    15.5      7.25    75.25     7.2292
   7.75    69.3     55.4417   6.4958   8.05   135.6333  21.075   82.1708
   7.25   211.5      4.0125   7.775  227.525   15.7417   7.925   52.
   7.8958  73.5     46.9     13.       7.7292  12.     120.       7.7958
   7.925  113.275   16.7      7.7958   7.8542  26.      10.5     12.65
   7.925    8.05     9.825   15.85     8.6625  21.       7.75    18.75
   7.775   25.4667   7.8958   6.8583  90.       0.       7.925    8.05
  32.5     13.      13.      24.15     7.8958   7.7333   7.875   14.4
  20.2125   7.25    26.      26.       7.75     8.05    26.55    16.1
  26.       7.125   55.9    120.      34.375   18.75   263.      10.5
  26.25     9.5      7.775   13.       8.1125  81.8583  19.5     26.55
  19.2583  30.5     27.75    19.9667  27.75    89.1042   8.05     7.8958
  26.55    51.8625  10.5      7.75    26.55     8.05    38.5     13.
   8.05     7.05     0.      26.55     7.725   19.2583   7.25     8.6625
  27.75    13.7917   9.8375  52.      21.       7.0458   7.5208  12.2875
  46.9      0.       8.05     9.5875  91.0792  25.4667  90.      29.7
   8.05    15.9     19.9667   7.25    30.5     49.5042   8.05    14.4583
  78.2667  15.1    151.55     7.7958   8.6625   7.75     7.6292   9.5875
  86.5    108.9     26.      26.55    22.525   56.4958   7.75     8.05
  26.2875  59.4      7.4958  34.0208  10.5     24.15    26.       7.8958
  93.5      7.8958   7.225   57.9792   7.2292   7.75    10.5    221.7792
   7.925   11.5     26.       7.2292   7.2292  22.3583   8.6625  26.25
  26.55   106.425   14.5     49.5     71.      31.275   31.275   26.
 106.425   26.      26.      13.8625  20.525   36.75   110.8833  26.
   7.8292   7.225    7.775   26.55    39.6    227.525   79.65    17.4
   7.75     7.8958  13.5      8.05     8.05    24.15     7.8958  21.075
   7.2292   7.8542  10.5     51.4792  26.3875   7.75     8.05    14.5
  13.      55.9     14.4583   7.925   30.     110.8833  26.      40.125
   8.7125  79.65    15.      79.2      8.05     8.05     7.125   78.2667
   7.25     7.75    26.      24.15    33.       0.       7.225   56.9292
  27.       7.8958  42.4      8.05    26.55    15.55     7.8958  30.5
  41.5792 153.4625  31.275    7.05    15.5      7.75     8.05    65.
  14.4     16.1     39.      10.5     14.4542  52.5542  15.7417   7.8542
  16.1     32.3208  12.35    77.9583   7.8958   7.7333  30.       7.0542
  30.5      0.      27.9     13.       7.925   26.25    39.6875  16.1
   7.8542  69.3     27.9     56.4958  19.2583  76.7292   7.8958  35.5
   7.55     7.55     7.8958  23.       8.4333   7.8292   6.75    73.5
   7.8958  15.5     13.     113.275  133.65     7.225   25.5875   7.4958
   7.925   73.5     13.       7.775    8.05    52.      39.      52.
  10.5     13.       0.       7.775    8.05     9.8417  46.9    512.3292
   8.1375  76.7292   9.225   46.9     39.      41.5792  39.6875  10.1708
   7.7958 211.3375  57.      13.4167  56.4958   7.225   26.55    13.5
   8.05     7.7333 110.8833   7.65   227.525   26.2875  14.4542   7.7417
   7.8542  26.      13.5     26.2875 151.55    15.2458  49.5042  26.55
  52.       9.4833  13.       7.65   227.525   10.5     15.5      7.775
  33.       7.0542  13.      13.      53.1      8.6625  21.       7.7375
  26.       7.925  211.3375  18.7875   0.      13.      13.      16.1
  34.375  512.3292   7.8958   7.8958  30.      78.85   262.375   16.1
   7.925   71.      20.25    13.      53.1      7.75    23.      12.475
   9.5      7.8958  65.      14.5      7.7958  11.5      8.05    86.5
  14.5      7.125    7.2292 120.       7.775   77.9583  39.6      7.75
  24.15     8.3625   9.5      7.8542  10.5      7.225   23.       7.75
   7.75    12.475    7.7375 211.3375   7.2292  57.      30.      23.45
   7.05     7.25     7.4958  29.125   20.575   79.2      7.75    26.
  69.55    30.6958   7.8958  13.      25.9292   8.6833   7.2292  24.15
  13.      26.25   120.       8.5167   6.975    7.775    0.       7.775
  13.      53.1      7.8875  24.15    10.5     31.275    8.05     0.
   7.925   37.0042   6.45    27.9     93.5      8.6625   0.      12.475
  39.6875   6.95    56.4958  37.0042   7.75    80.      14.4542  18.75
   7.2292   7.8542   8.3     83.1583   8.6625   8.05    56.4958  29.7
   7.925   10.5     31.       6.4375   8.6625   7.55    69.55     7.8958
  33.      89.1042  31.275    7.775   15.2458  39.4     26.       9.35
 164.8667  26.55    19.2583   7.2292  14.1083  11.5     25.9292  69.55
  13.      13.      13.8583  50.4958   9.5     11.1333   7.8958  52.5542
   5.       9.      24.       7.225    9.8458   7.8958   7.8958  83.1583
  26.       7.8958  10.5167  10.5      7.05    29.125   13.      30.
  23.45    30.       7.75  ]

---
### Exercise 4 - get some statistics from a numpy array created from a data series

This exercise will use data on income in certain US states.  The link is: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true  This spreadsheet just has one sheet.  

Write a function which will create a numpy array from the `Age` column in the income dataset and will print the following:

*  the average (mean) age of those surveyed  
*  the age of the oldest person
*  the age of the youngest person

TO HELP with this, refer to this helpsheet: http://datacamp-community-prod.s3.amazonaws.com/da466534-51fe-4c6d-b0cb-154f4782eb54 

Expected output:  
```
29.88888888888889
42
22
```

In [5]:
import pandas as pd
import numpy as np

df = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true')

def get_age_stats():
  
    age_array = df['Age'].to_numpy('float64')
    average_mean = age_array.mean()
    oldest = int(age_array.max())
    youngest = int(age_array.min())

    print(age_array, "\n","Average mean:", average_mean, "\n","Oldest:",oldest, "\n","Youngest:",youngest)

# run the function and test against the expected output.
get_age_stats()

[34. 42. 23. 36. 42. 25. 35. 40. 27. 23. 25. 29. 24. 25. 31. 22. 25. 30.]
 Average mean: 29.88888888888889
 Oldest: 42
 Youngest: 22

---
### Exercise 6 - find the mean and standard deviation of wages

This exercise will again use data on income in certain US states.  The link is: https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true  This spreadsheet just has one sheet.

Write a function which will create a numpy array from the `Income` column in the income dataset and will print the following:

*  the mean income of those surveyed  
*  the standard deviation of income
*  the highest income
*  the lowest income as a percentage of the mean (lowest / mean * 100) 

TO HELP with this, refer to this helpsheet: http://datacamp-community-prod.s3.amazonaws.com/da466534-51fe-4c6d-b0cb-154f4782eb54 

Expected output:  
```
63.388888888888886
13.936916958961463
81
34.70639789658195
```

In [6]:
import pandas as pd
import numpy as np

df = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true')

def get_income_stats():
  # add your code below to calculate the stats

    income_array = df['Income'].to_numpy('float64')
    mean_income = income_array.mean()
    standard_deviation =  np.std(income_array)
    highest = int(income_array.max())
    lowest = (income_array.min() / mean_income) * 100
    print(income_array,"\n","Mean income:",mean_income,"\n","Standard deviation of income:",standard_deviation,"\n","Highest income:",highest,"\n","Lowest income percentage:",lowest)

# run the function and test against expected output
get_income_stats()

[65. 45. 46. 65. 53. 62. 66. 75. 22. 69. 73. 75. 65. 66. 78. 81. 73. 62.]
 Mean income: 63.388888888888886
 Standard deviation of income: 13.936916958961463
 Highest income: 81
 Lowest income percentage: 34.70639789658195

---
### Exercise 7 - finding the correlation between two series

Let's find out if there is a strong correlation between Age and Income in the income data set.

*  read the Income data into a pandas dataframe
*  create a numpy array from the Age column  
*  create a numpy array from the Income column  
*  use the np.corrcoef(nparray1, nparray2) function to get the Pearson's Correlation Coefficient (the measure of linear correlation between the two data sets) and store it in a variable called **coef**
*  print the correlation coefficient output (see below, it will be a 2x2 matrix)
*  print the correlation coefficient (which is at position [0][1] (coef[0][1]))


Expected output:  
```
[[ 1.         -0.14787412]
 [-0.14787412  1.        ]]
 -0.1478741157606825

```
The matrix gives 4 values showing the correlation between:

```
   |    (Age/Age)        (Age/Income)     |
   |    (Income/Age)     (Income/Income)  |
```
This suggests that income decreases with age (the correlation is negative 
so as one increases the other decreases) but that the correlation is quite weak (an absolute correlation would be 1 and no correlation would be 0)

In [7]:
import pandas as pd
import numpy as np

df = pd.read_excel('https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true')

def get_correlation():
  # add your code below to get the correlation figure for age and salary

    age_array = df['Age'].to_numpy('float64')
    income_array = df['Income'].to_numpy('float64')

    coef = np.corrcoef(age_array, income_array)
    print(coef)
    print(coef[0][1])

# run the function and test against expected output
get_correlation()

[[ 1.         -0.14787412]
 [-0.14787412  1.        ]]
-0.1478741157606825

---
## Broadcasting an operation across an array

Because a numpy array is created from a related set of data, it is useful to be able to operate on every item in the array in the same way.  For instance, the array might hold a set of scores out of 30 and you might want to convert all scores into percentages.

We can do this in a number of ways:  
1.  Create a new array to store the result after the operation in the new array
```
scores = np.array([29,25,15,22,30])
percentages = scores / 30 * 100
print(percentages)
```
Expected output:
```
[ 96.66666667  83.33333333  50.          73.33333333 100.        ]
```
2.  Store the result in the original array
```
scores = np.array([29,25,15,22,30])
scores = scores / 30 * 100
print(scores)
```
Expected output:
```
[ 96.66666667  83.33333333  50.  73.33333333 100. ]
```

Give it a try:

In [8]:
scores = np.array([29,25,15,22,30])
scores = scores / 30 * 100
print(scores)

[ 96.66666667  83.33333333  50.          73.33333333 100.        ]

---
### Exercise 8 - increase whole array by 20

Write a function which will:
*  create a numpy array of 12 numbers
*  create a new array adding 20 to each of the items in the first array  
*  print the new array

Test input:  
`[1,2,3,4,5,6,7,8,1,2,3,4]`

Expected output:  
`[21 22 23 24 25 26 27 28 21 22 23 24]`

In [9]:
# add your code to define the function to increase all values in an array by 20 and then to call the function

def increase_array():

    num_array = np.array([1,2,3,4,5,6,7,8,1,2,3,4])
    new_array = num_array + 20
    print(new_array)

increase_array()

[21 22 23 24 25 26 27 28 21 22 23 24]

---
## Conversion of values using broadcasting

---
### Exercise 9 - convert Titanic fares into 21st century values 

Write a function which will:  
*  create a dataframe from the titanic data set (https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv)   
*  create a numpy array from the Fare column
*  convert the fares into current value (multiply by a factor of 120.7045 - source https://www.in2013dollars.com/uk/inflation/1912?amount=32 *accessed 22/1/2022*)
*  print the average fare, the maximum fare and the minimum fare

Expected output:  
```
3887.1928207428173
61840.4399214
0.0
```

In [10]:
import pandas as pd
import numpy as np

df = pd.read_csv('https://raw.githubusercontent.com/pandas-dev/pandas/master/doc/data/titanic.csv')

def get_current_fares():
  # add your code below to get the fares data into a numpy array, convert to today's prices and print stats

    fare = df['Fare'].to_numpy('float64')
    current_fares = fare * 120.7045
    average = current_fares.mean()
    max = current_fares.max()
    min = current_fares.min()
    print("Average fare:",average,"\n","Maximum fare:",max,"\n","Minimum fare:",min)

# run the function and test against expected output
get_current_fares()

Average fare: 3887.1928207428173
 Maximum fare: 61840.4399214
 Minimum fare: 0.0

---
### Exercise 10 - create a new column in the dataframe from a numpy array

**Challenging**

Write a function which will calculate expected salaries for all in the income data set after an inflation rate of 3.5% (with results in a new numpy array).

Just to show the result, calculate and print the Pearson Correlation Coefficient between the salaries series and the inflated salaries series.  We would expect this to be 1 (ie the inflated salary is always 3.5% higher than the current salary) and the exercise is just meant to show that - the statistic has no relevance.  

Create a new column in the dataframe from the new numpy array (so that the dataframe now contains the original salaries and the inflated salaries.  
(**Recap**:  *to add a new column, just use* `df['new column name']`)  

To assign a numpy array to a pandas column use  
`df['new column name'] = numpyarrayname.tolist()`

Display the new dataframe and print the correlation coefficient.

In [11]:
import pandas as pd
import numpy as np

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Data%20sets/Income-Data.xlsx?raw=true'"
df = pd.read_excel(url,sheet_name="income")

def calculate_salaries():

        income_array = df['Income'].to_numpy('float64')
        inflation_array = (3.5 * income_array) / 100 + income_array
        correlation = np.corrcoef(income_array, inflation_array)
        df['Inflation Income'] = inflation_array.tolist()
        print("\n","Income data:",income_array,"\n","Income after inflation:",inflation_array,"\n","Correlation coefficient:","\n",correlation,"\n")
        display(df)

calculate_salaries()

 Income data: [69. 35. 69. 54. 78. 54. 67. 35. 78. 67.]
 Income after inflation: [71.415 36.225 71.415 55.89  80.73  55.89  69.345 36.225 80.73  69.345]
 Correlation coefficient:
 [[1. 1.]
 [1. 1.]]

  State   Age  Income   Pop  Inflation Income
0    TX  32.0    69.0  70.0            71.415
1    MD  41.0    35.0  33.0            36.225
2    IN  32.0    69.0  23.0            71.415
3    CA  35.0    54.0  54.0            55.890
4    NY  29.0    78.0  11.0            80.730
5    TX  35.0    54.0  27.0            55.890
6    MD  34.0    67.0  81.0            69.345
7    IN  41.0    35.0  24.0            36.225
8    CA  29.0    78.0  10.0            80.730
9    NY  34.0    67.0   7.0            69.345

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: