<a href="https://colab.research.google.com/github/sleevetug/Eloise/blob/main/Copy_of_3_Sorting_and_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Sorting and cleaning 
---



In order to effectively analyse a dataset, often we need to prepare it first. 
Before a dataset is ready to be analysed we might need to:  

* sort the data (can be a series or dataframe)  
* remove any NaN values or drop NA values   
* remove duplicate records (identical rows)  
* normalise data in dataframe columns so that has a common scale [reference](https://towardsai.net/p/data-science/how-when-and-why-should-you-normalize-standardize-rescale-your-data-3f083def38ff#:~:text=Similarly%2C%20the%20goal%20of%20normalization,dataset%20does%20not%20require%20normalization.&text=So%20we%20normalize%20the%20data,variables%20to%20the%20same%20range.)

## Sorting the data  
---


Typically we want to sort data by the values in one or more columns in the dataframe  

To sort the dataframe by series we use the pandas function **sort_values()**.  

By default `sort_values()` sorts into ascending order.

* sort by a single column e.g.
  * `df.sort_values("Make") `
* sort by multiple columns e.g. 
  * `df.sort_values(by = ["Model", "Make"]) `
    * this sorts by Model, then my Make 
* sort in *descending* order
  * `df.sort_values(by = "Make", ascending = False)`
  * `df.sort_values(by = ["Make", "Model"], ascending = False])`  

Dataframes are mostly **immutable**, ie changes like sort_values do not change the dataframe permanently, they just change it for the time that the instruction is being used.

`df.sort_values(by='Make')` *dataframe is now in sorted order and can be copied to a new dataframe*  
`df_sorted_on_make` *original dataframe, df, will be as it was - unsorted* 

To **split** columns away from the dataframe after sorting, do this in the same instruction, e.g.:

`df.sort_values(by = ["Make", "Model"], ascending = False])[["Make", "Model"]]`

This sorts on Make and then Model in descending order, then splits off the Make and Model columns.

`df.sort_values(by = ["Make", "Model"], ascending = False])[["Make", "Model"]].head()`

This sorts on Make and then Model, then splits off the Make and Model columns and then splits off the first 5 rows.

### Exercise 1 - get data, sort by happiness score 
---

Read data into variable called **happiness** from the Excel file on Happiness Data at this link: https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true

Write a function called **sorted_rank** to display first 5 rows of data  

The data is currently sorted by Happiness Rank...
*  sort the data by Happiness Score in ascending order
*  display sorted table

In [ ]:
import pandas as pd                                                                                         #Imported the pandas library

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true"     #URL of the excel data from Github I wish to obtain
happiness = pd.read_excel(url,sheet_name="Happiness-Data-2015")                                             #Reads and stores the dataset (a xlsx file from Github) into happiness variable

def sorted_rank(df):
# add code below to return a series sorted by Happiness Score in ascending order

    happiness_score = happiness.sort_values("Happiness Score").head(5)                                      #Sorts the data by happiness score in ascending order and takes first 5 rows of data
    return happiness_score                                                                                  #Returns sorted data


# The code below will run and test your code to see if the first row of your series is correct 
actual = sorted_rank(happiness).index[0]
expected = 157

if actual == expected:
  print("Well done, test passed")
else:
  print("Test failed","Should have got", expected, "got", actual)

sorted_rank(happiness)

Well done, test passed

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
157,Togo,Sub-Saharan Africa,158.0,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726
156,Burundi,Sub-Saharan Africa,157.0,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
155,Syria,Middle East and Northern Africa,156.0,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
154,Benin,Sub-Saharan Africa,155.0,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
153,Rwanda,Sub-Saharan Africa,154.0,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042

### Exercise 2 - sort by multiple columns, display the first 5 rows 
---

Write a function called **get_gdp_health** which:

1. sort the data by Economy (GDP per Capita) and Health (Life Expectancy) in ascending order 
2. display the first 5 rows of sorted data

In [ ]:
import pandas as pd                                                                                                   #Imported the pandas library

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true"               #URL of the excel data from Github I wish to obtain
happiness = pd.read_excel(url,sheet_name="Happiness-Data-2015")                                                       #Reads and stores the dataset (a xlsx file from Github) into happiness variable

def get_gdp_health():
  # add code below to return a 5 row series which sorts rows by Economy and Health in ascending order 

    economy_health = happiness.sort_values(by = ["Economy (GDP per Capita)", "Health (Life Expectancy)"]).head(5)     #Sorts the dataset by 'Economy' and 'Health' in ascending order and takes first five rows of sorted data
    return economy_health                                                                                             #Returns sorted data

# The code below will run and test your code to see if the first row of your series has the correct happiness score 
test = get_gdp_health()

actual = test['Happiness Score'].iloc[0]
expected = 4.517

if actual == expected:
  print("Well done, test passed")
else:
  print("Test failed","Should have got", expected, "got", actual)

get_gdp_health()

Well done, test passed

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
119,Congo (Kinshasa),Sub-Saharan Africa,120.0,4.517,0.03680,0.00000,1.00120,0.09806,0.22605,0.07625,0.24834,2.86712
156,Burundi,Sub-Saharan Africa,157.0,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
130,Malawi,Sub-Saharan Africa,131.0,4.292,0.06130,0.01604,0.41134,0.22562,0.43054,0.06977,0.33128,2.80791
143,Niger,Sub-Saharan Africa,144.0,3.845,0.03602,0.06940,0.77265,0.29707,0.47692,0.15639,0.19387,1.87877
115,Liberia,Sub-Saharan Africa,116.0,4.571,0.11068,0.07120,0.78968,0.34201,0.28531,0.06232,0.24362,2.77729

### Exercise 3 - sorting in descending order 
---

Write a function called **get_descending** which will: 

Sort the data by Freedom and Trust (Government Corruption) in descending order and show the Country and Region only for the last five rows

In [ ]:
import pandas as pd                                                                                                                               #Imported the pandas library

url = "https://github.com/futureCodersSE/working-with-data/blob/main/Happiness-Data/2015.xlsx?raw=true"                                           #URL of the excel data from Github I wish to obtain
happiness = pd.read_excel(url,sheet_name="Happiness-Data-2015")                                                                                   #Reads and stores the dataset (a xlsx file from Github) into happiness variable

def get_descending(df):
  #add code below to return a series which contains the last 5 rows of Country and Region sorted by Freedom and Trust in descending order

    freedom_trust = happiness.sort_values(by = ["Freedom", "Trust (Government Corruption)"], ascending = False)[["Country", "Region"]].tail(5)    #Sorts the values by 'Freedom' & 'Trust' columns in decending order and splits the last 5 rows of the 'Country' and 'Region' columns away to store in the variable
    return freedom_trust                                                                                                                          #Returns the sorted/filtered data stored in variable

# The code below will run and test your code to see if the length and series are correct 
actual = get_descending(happiness).index[0]
expected = 136

if actual == expected and (len(get_descending(happiness)) == 5):
  print("Test passed", actual)
else:
  print("Test failed","Should have got", expected, "got", actual, "and length of series should have been 5 but was", len(get_descending(happiness)))

get_descending(happiness)

Test passed 136

                    Country                           Region
136                  Angola               Sub-Saharan Africa
117                   Sudan               Sub-Saharan Africa
95   Bosnia and Herzegovina       Central and Eastern Europe
101                  Greece                   Western Europe
111                    Iraq  Middle East and Northern Africa

# Cleaning the data

Data comes from a range of sources:  forms, monitoring devices, etc.  There will often be missing values, duplicate records and values that are incorrectly formatted.  These can affect summary statistics and graphs plotted from the data.

Techniques for data cleansing include:
*  removing records with missing or null data (NaN, NA, "")
*  removing duplicate rows (keeping just one, either the first or the last)

Removal of rows according to criteria, or of columns are other ways that data might be cleaned up.

---

## Removing NaN/Dropping NA values 

pandas have functions for checking a dataframe, or column, for null values, checking a column for missing values, and functions for dropping all rows that contain null values.

* check for NA/NaN/missing values across dataframe (returns True if NA values exist)  
  `df.isnull().values.any()`  

* check for NA/NaN/missing values in specific column  
  `df["column"].isnull().values.any()`  

* filter for non-null rows   
  `df[~df["column"].isnull()]`  
  *hint: ~ means is not*

* drop all rows that have NA/NaN values   
  `df.dropna()`  

* drop rows where NA/NaN values exist in specific columns  
  `df.dropna(subset = ["Make", "Model"])`

### Exercise 4 - check for null values 
---

1. read data into a variable called **housing** from the file housing_in_london_yearly_variables.csv from this link: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv 

Write a function called **check_null** which will:
2. check if any NA values exist in the dataframe and print the result 
3. use df.info() to see which columns have null entries (*Hint: if the non-null count is less than total entries, column contains missing/NA entries*)

In [23]:
import pandas as pd                                                                                                                                     #Imported pandas

housing = pd.read_csv('https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv')     #Reads the dataset (a CSV file from Github) into a pandas dataframe

def check_null(df):
  # add code below to return a bool statement for whether or not there are null values 

    df.info()                                                                                                                                           #Prints information about the DataFrame - I can check which columns have null entries

    if df.isnull().values.any():                                                                                                                        #If there are missing values in the DataFrame..
      return True                                                                                                                                       #..Return True
    else:                                                                                                                                               #Else:
      return False                                                                                                                                      #Return False

# The code below will run and test your code to see if you are returning the correct answer
actual = check_null(housing)
expected = True

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed","Should have got", expected, "got", actual)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1071 entries, 0 to 1070
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               1071 non-null   object
 1   area               1071 non-null   object
 2   date               1071 non-null   object
 3   median_salary      1049 non-null   float64
 4   life_satisfaction  352 non-null    float64
 5   mean_salary        1071 non-null   object
 6   recycling_pct      860 non-null    object
 7   population_size    1018 non-null   float64
 8   number_of_jobs     931 non-null    float64
 9   area_size          666 non-null    float64
 10  no_of_houses       666 non-null    float64
 11  borough_flag       1071 non-null   int64
dtypes: float64(6), int64(1), object(5)
memory usage: 100.5+ KB
Test passed True

### Exercise 5 - filter for non-null rows
---

Create function called **filter_null()** which filters the non-null rows by the `number_of_jobs` column.

In [33]:
import pandas as pd                                                                                                                                     #Imported pandas

housing = pd.read_csv('https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv')     #Reads the dataset (a CSV file from Github) into a pandas dataframe

def filter_null(df):
  # add code below to filter out null values
  
    return df[~df["number_of_jobs"].isnull()]                                                                                                           #Returns the number of non-null rows in the number_of_jobs column

# The code below will run and test your code to see if the length of your returned dataframe is correct

actual = len(filter_null(housing))
expected = 931 

if actual == expected:
  print("Test passed", actual)
else:
  print("Test failed expected", expected, "got", actual)

Test passed 931

### Exercise 5 - remove null values 
---
Write a function called **drop_null** which will:
1. remove rows with NA values for `life_satisfaction` (use [ ] even if only one column in list)

In [34]:
import pandas as pd                                                                                                                                     #Imported pandas

housing = pd.read_csv('https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv')     #Reads the dataset (a CSV file from Github) into a pandas dataframe

def drop_null(df):
  # add code which returns a dataframe with rows that contain NA values in the life_satisfaction column removed
  
    return df.dropna(subset = ["life_satisfaction"])                                                                                                    #Removes the rows with NA values in the life_satisfaction column and returns the number of remaining rows

# The code below will run and test your code to see if you have returned a series with the correct length and first row
actual = drop_null(housing).index[0]
expected = 613 

if actual == expected and len(drop_null(housing)) == 352:
  print("Test passed", actual)
else:
  print("Test failed","Should have got", expected, "got", actual, "and length of series should have been 352 but was", len(drop_null(housing)))

Test passed 613

## Dropping duplicates
---

* To remove duplicate rows based on duplication of values in all columns  
  `df.drop_duplicates()`  

* To remove rows that have duplicate entries in a specified column  
  `df.drop_duplicates(subset = ['Make'])`  

* To remove rows that have duplicate entries in multiple columns  
  `df.drop_duplicates(subset = ['Make', 'Model'])` 

* Remove duplicate rows keeping the last instance rather than the first (default):  
  `df.drop_duplicates(keep='last')`

### Exercise 6 - Removing duplicate entries 
---
Write a function called **drop_duplicates** which will: 

remove duplicate `area` entries keeping first instance

In [35]:
import pandas as pd                                                                                                                                     #Imported pandas

housing = pd.read_csv('https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv')     #Reads the dataset (a CSV file from Github) into a pandas dataframe

def drop_duplicates(df):
  # add code which returns a dataframe without duplicate area entries with first instance kept 
  
    return df.drop_duplicates(subset = ['area'])                                                                                                        #Drops all duplicate entries in the area column and returns new value

# The code below will run and test your code to see if you have returned a series with the correct length and first row
actual = drop_duplicates(housing).index[0]
expected = 0

if actual == expected and len(drop_duplicates(housing)) == 51:
  print("Test passed", actual)
else:
  print("Test failed","Should have got", expected, "got", actual, "and length of series should have been 51 but was", len(drop_duplicates(housing)))

Test passed 0

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer:

## What caused you the most difficulty?

Your answer: